@import url("index/main.css");
@import url("index/header.css");
@import url("index/footer.css");
@import url("index/signup.css");
@import url("index/dark-theme.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

:root {
  --Poppins: "Poppins", sans-serif;

  /* Colors */
  --Red: #d0021b;
  --container-color: #fff;
  --text-color-light: hsl(228, 12%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Poppins);
  background-color: rgba(45, 45, 45, 0.05);
  transition: 0.3s; /* For animation dark mode */
}

.container {
  max-width: 1024px;
  margin-inline: auto;
}

.section {
  padding: 4.5rem 0 2rem;
}

.main {
  overflow: hidden;
}
