.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--Red);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  width: 150px;
  object-fit: contain;
}

.nav__icon {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.nav__icon a {
  text-decoration: none;
  height: 20px;
  color: #fff;
}

.nav .bx-menu {
  display: none;
}

.nav .bx-menu.show {
  display: block;
}

.nav .bx-x {
  display: none;
}

.nav .bx-x.show {
  display: block;
}

.bx-menu,
.bx-x {
  font-size: 1.5rem;
  color: #fff;
  padding-right: 1.5rem;
}

.bx-user,
.bx-moon {
  font-size: 1.25rem;
  height: initial;
  color: #fff;
}

.bxs-cart {
  font-size: 1.5rem;
  height: initial;
  color: #fff;
}

.nav__icon > div {
  position: relative;
  height: 23px;
  padding-right: 10px;
}

.quantity {
  position: absolute;
  top: 0;
  right: -6px;
  font-size: 12px;
  background: red;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}

.nav__cart-menu {
  position: absolute;
  background: white;
  width: calc(100% - 3rem);
  margin-inline: 1.5rem;
  margin-top: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 20px 0 lightgray;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 80vh;
}

.nav__cart-menu.show {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.nav__cart-menu > p.hide {
  display: none;
}

#list {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  font-size: 14px;
  margin-top: 1.5rem;
}

#list li {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.selected-item-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.decrement-button,
.item-quantity,
.increment-button {
  width: 35px;
  height: 35px;
  padding: 5px 10px;
  font-family: var(--Poppins);
  text-align: center;
  border: 1px solid rgba(45, 45, 45, 0.3);
  outline: none;
  border-radius: 0.25rem;
}

#cart-image.show {
  display: block;
}

.nav__cart-menu h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

.nav__cart-menu p {
  text-align: center;
}

.nav__cart-menu .button {
  display: flex;
  column-gap: 0.5rem;
}

#cart-total {
  margin: 1rem 0;
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.button button {
  padding: 0.6rem 0;
  width: 100%;
  font-family: var(--Poppins);
  font-size: 12px;
  background: var(--Red);
  border-radius: 0.25rem;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 5px 15px 0 var(--Red);
}

.nav__container-mobile {
  margin-inline: 1.5rem;
  position: absolute;
  width: calc(100% - 3rem);
  background: #fff;
  border: 1px solid rgba(46, 45, 45, 0.2);
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 lightgrey;
  text-align: center;
  display: grid;
  row-gap: 1rem;
  padding: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav__container-mobile.show {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.nav__bar ul {
  display: grid;
  row-gap: 1.5rem;
}

.nav__bar ul li {
  list-style: none;
}

.nav__bar ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.nav__search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  column-gap: 0.5rem;
}

.nav__search input[type="text"] {
  padding: 0.5rem;
  font-family: var(--Poppins);
  border-radius: 0.25rem;
  border: 1px solid rgba(46, 45, 45, 0.5);
}

.nav__search button {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(46, 45, 45, 0.5);
  font-family: var(--Poppins);
  transition: 0.3s ease-in-out;
}

.nav__search button:hover {
  color: #fff;
  background: var(--Red);
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
}

.nav__container-mobile .nav__bar,
.nav__container-mobile .nav__search {
  display: block;
}

.nav__bar,
.nav__search {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__container-mobile {
    display: none;
  }

  .nav .bx-menu.show {
    display: none;
  }

  .nav__bar,
  .nav__search {
    display: block;
  }

  .nav__bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1.5rem;
  }

  .nav__bar ul li a {
    color: #fff;
  }

  .nav__cart-menu {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    min-height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    border-radius: 0;
    padding: 20px;
  }

  #list {
    display: flex;
    flex-direction: column;
  }
}
